<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntTweakBar" version="1.16.3" targetFramework="native" />
  <package id="AntTweakBar.redist" version="1.16.3" targetFramework="native" />
  <package id="directxtk_desktop_2015" version="2017.2.10.1" targetFramework="native" />
</packages>